@font-face{ /*froza*/
    font-family: "froza"; 
    src: url("../fonts/font1.ttf");
}

@font-face{
    font-family: "averia"; /*Averia*/
    src: url("../fonts/font2.ttf");
}

@font-face{
    font-family: "mukta"; /*Mukta*/
    src: url("../fonts/font3.ttf");
}

@font-face{
    font-family: "jaldi"; /*Jaldi*/
    src: url("../fonts/Jaldi-Bold.ttf");
}

@font-face{
    font-family: "catamaran"; /*catamaran*/
    src: url("../fonts/Catamaran-Regular.ttf");
}
body{
    background-color: rgb(255, 255, 255);
}
/*NAVBAR
------------------------------------------------------------------------------------*/
#logo{
    padding: 4.5px 0px;
}
#nav {
    background-color: #006778;
    padding: 9px 10px;
}

aside{
    position: absolute;
    width: 170px;
    height: 100%;
    background-color: #006778;
    z-index: 4;
}
.btn-opcion {
    /* top: -20px; */
    background-color: #006778;
    color: #ffffff;
    font-family: 'catamaran';
    text-align: center;
    border-color: #ffffff;
    padding: 15px 10px;

}
#foro {
    color: #ffffff;
    font-family: 'catamaran';
    padding: 10px 9px;
}
.navbar-nav{
    display: flex;
    flex-wrap: nowrap;
}
/*CONTENEDOR DE PERFIL
------------------------------------------------------------------------------------*/
#padre{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}
.offcanvas-header{
    background-color: #65cac2a2;
}
#offcanvasRightLabel{
    font-size: .7cm;
    color: #000000;
    font-family: 'averia';
    font-weight:bolder ;
    margin-left: 3%;
    padding: 3px;
}
/*INFORMACION DE PERFIL
------------------------------------------------------------------------------------*/
.hijo{
    margin-top: 8%;
    font-size: .5cm;
}
.cabeza{
    color:#FFA001;
    font-family: 'catamaran';
    font-weight:bolder ;
}
.dato{
    font-weight:bolder ;
    color:#006778;
    font-family: 'jaldi';
}

/*CALENDARIO
------------------------------------------------------------------------------------*/
#contenedor{
    position:  relative;
    transform: translate(170px, 0);
    margin: 2%;
    width:85%;  
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.cuerpo{
    width: 150%;
    height: 150%;
    font-family: 'averia';
    color: #ffffff;
    border:#fed049;
    border-style: solid;
    border-radius: 15px;
    border-width: .2cm;
    flex: 4;
}

thead{
    text-align: center;
    justify-items: center;
}
.columna{
    font-family: "jaldi", 'Lucinda Sans', serif;
    font-size: .7cm;
    text-align: center;
    border:#ffffff;
    border-style: solid;
    padding: 15px 15px;
    background: #007580;
    color: #ffffff;
}
.dias{
    font-family: "jaldi", 'Lucinda Sans', serif;
    font-size: .7cm;
    text-align: center;
    border-right:#ffffff;
    border-bottom: #ffffff;
    border-left: #ffffff;
    
    border-style: solid;
    padding: 15px 15px;
    background: #65CAC1;
    color: #000000;
}

/*TITULO
------------------------------------------------------------------------------------*/
span{
    font-size: 1cm;
    margin: 2%;
    color: #000000;
    font-family: "averia", 'Lucinda Sans', serif;
}
#titulo{
    background-color: #fed049;
}
.btn{
    width: 5%;
    height: 5%;
    margin-bottom: 1%;
    background-color: #ffffff;
    border-style: none;
    color: #007580;
    font-size: .5cm;
}

/* SOLO PARA ADMIN
------------------------------------------------------------------------------------*/
#editar {
    margin-right: 100%;
    float: right;
    background-color: #006778;
    color: #ffffff;
    font-family: 'catamaran';
    text-align: center;
    border-color: #006778;
    padding: 5px 15px;
    border-radius: 9px;
    flex: 1;
}

/* FORMULARIO DE JAVA
------------------------------------------------------------------------------------*/
#Formulario {
    position: absolute;
    top: 10%;
    left: 76%;
    width: auto;
    height: auto;
    background-color: #006778;
    color: #ffffff;
    font-family: 'catamaran';
    text-align: center;
    margin-top: 5%;
    flex: 1;
}

.input{
    margin-left:  2%;
    color: #000000;
    font-size: .4cm;
    font-family: "catamaran", 'Lucinda Sans', serif;
    width: 70%;
    height: 7%;
    border-color: #006778;
    border-radius: 10px 10px 10px 10px;
    padding: 7px 40px;
}
.area{
    margin-left:  2%;
    color: #000000;
    font-size: .4cm;
    font-family: "catamaran", 'Lucinda Sans', serif;
    width: 70%;
    height: 30%;
    border-color: #006778;
    border-radius: 10px 10px 10px 10px;
    padding: 7px 40px;
}

#anadir {
    background-color: #006778;
    color: #ffffff;
    font-family: 'catamaran';
    text-align: center;
    border-color: #ffffff;
    padding: 5px 15px;
    border-radius: 9px;
    margin-bottom: 5%;
}

#contenedorForm{
    margin: 5%;
}