@font-face{ /*froza*/
    font-family: "froza"; 
    src: url("../fonts/font1.ttf");
}

@font-face{
    font-family: "averia"; /*Averia*/
    src: url("../fonts/font2.ttf");
}

@font-face{
    font-family: "mukta"; /*Mukta*/
    src: url("../fonts/font3.ttf");
}

@font-face{
    font-family: "jaldi"; /*Jaldi*/
    src: url("../fonts/Jaldi-Bold.ttf");
}

@font-face{
    font-family: "catamaran"; /*catamaran*/
    src: url("../fonts/Catamaran-Regular.ttf");
}

body{
    background-color: rgb(255, 255, 255);
}
/*NAVBAR
------------------------------------------------------------------------------------*/
#nav {
    background-color: #006778;
    padding: 9px 10px ;
}

aside{
    position: absolute;
    width: 170px;
    height: 100%;
    background-color: #006778;
    z-index: 4;
}

.btn-opcion {
    /* top: -20px; */
    background-color: #006778;
    color: #ffffff;
    font-family: 'catamaran';
    text-align: center;
    border-color: #ffffff;
    padding: 15px 10px;

}
#foro {
    color: #ffffff;
    font-family: 'catamaran';
    padding: 9px 9px;
}
#cerrar{
    color: #ffffff;
    font-family: 'catamaran';
    padding: 8px 40px;
    border-style: none;
    background-color: #006778;
}
/*CONTENEDOR DE PERFIL
------------------------------------------------------------------------------------*/
#padre{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}
.offcanvas-header{
    background-color: #65cac2a2;
}
#offcanvasRightLabel{
    font-size: .7cm;
    color: #000000;
    font-family: 'averia';
    font-weight:bolder ;
    margin-left: 3%;
    padding: 3px;
}
/*INFORMACION DE PERFIL
------------------------------------------------------------------------------------*/
.hijo{
    margin-top: 8%;
    font-size: .5cm;
}
.cabeza{
    color:#FFA001;
    font-family: 'catamaran';
    font-weight:bolder ;
}
.dato{
    font-weight:bolder ;
    color:#006778;
    font-family: 'jaldi';
}