@font-face{ /*froza*/
    font-family: "froza"; 
    src: url("../fonts/font1.ttf");
}

@font-face{
    font-family: "averia"; /*Averia*/
    src: url("../fonts/font2.ttf");
}

@font-face{
    font-family: "mukta"; /*Mukta*/
    src: url("../fonts/font3.ttf");
}

@font-face{
    font-family: "jaldi"; /*Jaldi*/
    src: url("../fonts/Jaldi-Bold.ttf");
}

@font-face{
    font-family: "catamaran"; /*catamaran*/
    src: url("../fonts/Catamaran-Regular.ttf");
}

body{
    background-color: rgb(255, 255, 255);
}
/*NAVBAR
------------------------------------------------------------------------------------*/
#nav {
    background-color: #006778;
    padding: 9px 10px ;
}

aside{
    position: absolute;
    width: 170px;
    height: 100%;
    background-color: #006778;
    z-index: 4;
}
.btn-opcion {
    /* top: -20px; */
    background-color: #006778;
    color: #ffffff;
    font-family: 'catamaran';
    text-align: center;
    border-color: #ffffff;
    padding: 15px 10px;

}
.foro {
    color: #ffffff;
    font-family: 'catamaran';
    padding: 9px 9px;
}
.navbar-nav{
    display: flex;
    flex-wrap: nowrap;
}

#asideDerecha{
    margin-top: 5%;
    float: right;
    position: relative;
    width: 120px;
    height: 100%;
    z-index: 4;
    background-color: #5ba8b6;
}
/*FORO PREGUNTAS
------------------------------------------------------------------------------------*/
.foroPreguntasFrecuentes, .mb-3{
    margin: 2%;
    position: absolute;
    transform: translate(125px, 0px);
}
.grande{
    margin:  4% 4% 0 8%;
    padding: 7px 40px;
    color: #000000;
    font-size: .4cm;
    font-family: "catamaran", 'Lucinda Sans', serif;
    width: 80%;
    height: 12rem;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
}

#asideDerecha{
    border: #000000;
    border-width: 5px;
    margin: auto;
}

.pregunta{
    position: relative;
    transform: translate(125px, 0px);
    margin: 5%;
    justify-content: center;
}