@font-face {
    font-family: "font1";
    src: url(../fonts/font1.ttf);
}

@font-face {
    font-family: "font2";
    src: url(../fonts/font2.ttf);
}

@font-face {
    font-family: "font3";
    src: url(../fonts/font3.ttf);
}


/*HEADER
------------------------------------------------------------------------------------*/
h1{
    color:#00677b;
    font-family: "font2", 'Lucinda Sans', serif;
}

/*BACKGROUND
 ------------------------------------------------------------------------------------*/

    body{
        background-image: url("../img/fondoinicio.jpeg");
        background-color: #DD6693;
    }

/*CONTENT
------------------------------------------------------------------------------------*/
fieldset{
    position: relative;
    top:450px;
    left:225px;
    width:350px;
    height:350px;
    margin: auto;
    border-style: solid;
    border-color: #00677b;
    background-color: rgba(255, 255, 255, 0.739);
    border-radius:10px 10px 10px 10px;
    box-shadow:0px 0px 0px 0px   #292f20;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}
/*IMPUTS
------------------------------------------------------------------------------------*/
.input{
    width: 300px;
    height:30px;
    border-radius: 5px 5px 5px 5px;
    font-family: "font3", 'Lucinda Sans', serif;
}

.etiqueta{
    margin:2px 20px -25px ;
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-family: "font3", 'Lucinda Sans', serif;
}
/*BUTTON
------------------------------------------------------------------------------------*/
#enviar{
    background-color: #00677b;
    border-width: 1px;
    color: white;
    width: 300px;
    height:35px;
    border-radius: 5px 5px 5px 5px;
    font-family: "font2", 'Lucinda Sans', serif;
    font-size: .5cm;
    cursor: pointer;
}
/*LINK
------------------------------------------------------------------------------------*/
#cuenta{
    font-family: "font2", 'Lucinda Sans', serif;
}