@font-face{ /*froza*/
    font-family: "froza"; 
    src: url("../fonts/font1.ttf");
}

@font-face{
    font-family: "averia"; /*Averia*/
    src: url("../fonts/font2.ttf");
}

@font-face{
    font-family: "mukta"; /*Mukta*/
    src: url("../fonts/font3.ttf");
}

@font-face{
    font-family: "jaldi"; /*Jaldi*/
    src: url("../fonts/Jaldi-Bold.ttf");
}

@font-face{
    font-family: "catamaran"; /*catamaran*/
    src: url("../fonts/Catamaran-Regular.ttf");
}
body{
    background-color: rgb(255, 255, 255);
}
/*NAVBAR
------------------------------------------------------------------------------------*/
#nav {
    background-color: #006778;
    padding: 9px 10px ;
}

aside{
    position: absolute;
    width: 170px;
    height: 100%;
    background-color: #006778;
    z-index: 4;
}
.btn-opcion {
    /* top: -20px; */
    background-color: #006778;
    color: #ffffff;
    font-family: 'catamaran';
    text-align: center;
    border-color: #ffffff;
    padding: 15px 10px;

}
#foro {
    color: #ffffff;
    font-family: 'catamaran';
    padding: 9px 9px;
}
.navbar-nav{
    display: flex;
    flex-wrap: nowrap;
}

/*CONTENEDOR DE PERFIL
------------------------------------------------------------------------------------*/
#padre{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}
.offcanvas-header{
    background-color: #65cac2a2;
}
#offcanvasRightLabel{
    font-size: .7cm;
    color: #000000;
    font-family: 'averia';
    font-weight:bolder ;
    margin-left: 3%;
    padding: 3px;
}
/*INFORMACION DE PERFIL
------------------------------------------------------------------------------------*/
.hijo{
    margin-top: 8%;
    font-size: .5cm;
}
.cabeza{
    color:#FFA001;
    font-family: 'catamaran';
    font-weight:bolder ;
}
.dato{
    font-weight:bolder ;
    color:#006778;
    font-family: 'jaldi';
}
/*CONTENEDOR
------------------------------------------------------------------------------------*/
.contenedor{
    position: absolute;
    transform: translate(170px, 0);
    margin: 3%;
    margin-left: 8%;
    width: 80%;
}


/*DATOS
------------------------------------------------------------------------------------*/
.titulo{
    margin: 1% 0 1% 2%;
    padding: 1rem;
    background-color: #65cac28e;
    border-radius: 10px 10px 10px 10px;
    width: 90%;

    font-family: "averia", 'Lucinda Sans', serif;
    font-size: 1cm;
    font-weight:400;
    color: #497BA9;
}

.descripcion{
    margin: 1% 0 1% 2%;
    padding: 1rem;
    background-color: #65cac28e;
    border-radius: 10px 10px 10px 10px;
    width: 60%;
    height: max-content;

    font-family: "averia", 'Lucinda Sans', serif;
    font-size: .5cm;
    font-weight:400;
    color: #497BA9;
}


.input{
    float: right;
    margin-right: 8%;
    margin-top: 8%;
    border-style: none;
    background-color: #65cac28e;;
    border-radius: 10px 10px 10px 10px;
    padding: 7px 40px;

    font-size: .8cm;
    font-family: "catamaran", 'Lucinda Sans', serif;
    color: #497BA9;
    width: 28%;
}

/*MODULOS
------------------------------------------------------------------------------------*/
#contModulos{
    
    margin: 1% 0 1% 2%;
    display: flex;
    flex-wrap: wrap;
    width: 92%;
}
.borde{
    margin: 1% 1% 0 0;

}
/* boton */
.modulo{
    border-style: none;
    background-color: #FFA001;
    border-radius: 10px 10px 10px 10px;
    width: 20.7rem;
}
#datos{

    color: #000000;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    height: 90%;
    font-size: .7cm;
    font-family: 'catamaran';
    margin: 3%;
}

.input{
    float: right;
    margin-right: 8%;
    margin-top: 8%;
    border-style: none;
    background-color: #65cac28e;;
    border-radius: 10px 10px 10px 10px;
    padding: 7px 40px;

    font-size: .8cm;
    font-family: "catamaran", 'Lucinda Sans', serif;
    color: #497BA9;
    width: 28%;
}

/*MODULOS
------------------------------------------------------------------------------------*/
#contModulos{
    
    margin: 1% 0 1% 2%;
    display: flex;
    flex-wrap: wrap;
    width: 92%;
}
.borde{
    margin: 1% 1% 0 0;

}
/* boton */
.modulo{
    border-style: none;
    background-color: #FFA001;
    border-radius: 10px 10px 10px 10px;
    width: 20.7rem;
}
#datos{

    color: #000000;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    height: 90%;
    font-size: .7cm;
    font-family: 'catamaran';
    margin: 3%;
}