<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <center><form action="../dynamics/php/registroAlumno.php" method="post">
        <fieldset>
            <legend>Crea tu cuenta</legend>

            <label for="numeroCuenta">Número de cuenta:</label><br/>
            <input type="text" name="numeroCuenta" id="numeroCuenta" required placeholder="Escriba su número de cuenta aquí">
            <br/><br/>
            
            <label for="nombre">Nombre y apellidos:</label><br/>
            <input type="text"name="nombre" required placeholder="Escriba su nombre completo aquí">
            <br/><br/>

            <label for="correo">Correo electrónico:</label><br/>
            <input type="email" name="correo" required placeholder="Escriba su correo aquí">
            <br/><br/>

            <label for="usuario">Usuario:</label><br/>
            <input type="text" name="usuario" required placeholder="Escriba su usuario aquí">
            <br/><br/>
            
            <label for="contrasena">Contraseña:</label><br/>
            <input type="password" name="contrasena" id="contrasena" required placeholder="Escriba su contraseña aquí">
            <br/><br/>

            ¿Eres un robot?<input type="checkbox" required><br>

            <button type="submit">Ingresar al sistema</button>
        </fieldset>
    </form></center>

    <script src="../dynamics/js/formulario.js"></script>

</body>
</html>
